@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap');

* {
    font-family: 'Open Sans';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg, #eeebe0 20%, #f6ded0 100%); 
    background-image: linear-gradient(90deg, #fffbec 20%, #ffb387 100%);
    background-attachment: fixed;
}

.navbar {
    font-size: 18px;
    background-color: transparent;
    padding-bottom: 10px;
}

.home {
    background-color: white;
    border-radius: 40px;
    color: #ff7648;
}

.hb-button {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(54, 54, 54);
    font-size: 25px;
    border-style: none;
    padding: 5px 8px;
    border-radius: 5px;
    text-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}.hb-button:active {
    color: white;
}

.logo {
    display: inline-block;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: bold;
    color: black;
    font-weight: 400;
    text-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}


.nav-container {
    display: none;
    text-align: center;
    list-style-type: none;
    column-gap: 10px;
}

.nav-container li {
    text-align: center;
    margin: 15px auto;
}

a {
    font-size: 20px;
    color: white;
    padding: 5px 20px;
    text-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

.nav-container li a:hover {
    color: #ff7648;
    border-radius: 40px;
    background-color: white;
}

.active {
    display: block;
}

.text-container {
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.text-container h1 {
    font-size: 50px;
    letter-spacing: 5px;
}


@media screen and (min-width: 930px) {
    
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        row-gap: 15px;
        align-items: center;
    }

    .logo {
        margin-top: 0;
    }

    .hb-button {
        display: none;
    }


    .nav-container {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-container li {
        margin: 0;
    }
    
}


