@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    font-family: 'Open Sans';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255,241,195);
    background: linear-gradient(360deg, rgba(255,241,195,1) 0%, rgba(247,228,163,1) 24%, rgba(255,74,121,1) 90%);
    background-attachment: fixed;
}

.navbar {
    font-size: 18px;
    background-color: transparent;
    padding-bottom: 10px;
    text-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}

.home {
    background-color: white;
    border-radius: 40px;
    color: black;
}

.nav-button {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-size: 25px;
    border-style: none;
    padding: 5px 8px;
    border-radius: 5px;
    text-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}.nav-button:active {
    color: white;
}

.logo {
    font-family: 'Caveat';
    font-size: 55px;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: 200;
    color: white;
    font-weight: 600;
    transition: 5ms;
}.logo:active {
    font-size: 58px;
}

.nav-container {
    display: none;
    text-align: center;
    list-style-type: none;
    column-gap: 10px;
    transition: 0.5s;
}

.nav-container li {
    text-align: center;
    margin: 15px auto;
} 

a {
    font-size: 20px;
    color: white;
    padding: 5px 20px;
}

.nav-container li a {
    transition: 0.2s;
}
.nav-container li a:hover {
    color: black;
    border-radius: 40px;
    background-color: white;
}

.active {
    display: block;
}

.first-container {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.first-container img {
    position: relative;
    width: 90%;
    border-radius: 70px;
    height: auto;
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
}
.first-container h1 {
    position: relative;
    color: white;
    margin-top: 5%;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
}

#main-second-container {
    background-color: white;
    margin: 6%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
}
#second-container {
    position: relative;
    margin-left: -8%;
    margin-right: -8%;
    margin-bottom: 3%;
    padding: 10px;
    background-color: #cccccc;
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.4)
}
#second-container img {
    width: 100%;
    height: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);

    margin-left: 0;
    margin-right: 0;
    margin-bottom: auto;
    margin-top: auto;
}

#main-second-container p, #main-second-container h1  {
    margin: 3%;
}

#main-second-container,#image-container, .second-container {
    margin-top: 60%;
}

#main-third-container {
    background-color: white;
    margin: 6%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
}


#main-third-container p, #main-third-container h1  {
    margin: 3%;
}

#main-third-container{
    margin-top: 60%;
}

.fa-bars {
    color: white;
    text-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
    
}.fa-bars:active {
    opacity: 80%;
}

.summary {
    position: relative;
    top: 50px;
    border-radius: 2px;
    width: 100%;
    background-color: white;
    padding: 11.5px;
    text-align: center;
}
.summary table {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.summary a{
    color: black;
    font-size: 9px;
    opacity: 70%;
    
}.summary a:hover {
    opacity: 100%;
}
.summary th {
    text-align: center;
    font-weight: 400;
    font-size: 20px;

}

@media screen and (min-width: 1020px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        row-gap: 15px;
        align-items: center;
    }

    .nav-button {
        display: none;
    }


    .nav-container {
        display: flex;
        margin-right: 30px;
    }

    .nav-container li {
        margin: 0;
    }

    .first-container h1 {
        position: relative;
        color: white;
        margin-top: -30%;
        margin-left: 2%;
        width: 30%;
        height: 50px;
        text-align: end;
        font-size: 50px;
        font-weight: 600;
        text-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
    }
    .first-container img {
        position: relative;
        width: 60%;
        margin-left: 30%;
        border-radius: 70px;
        height: auto;
        box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
    }

    #main-second-container {
        background-color: white;
        margin: 20%;
        padding: 20px;
        text-align: center;
        box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
    }
    #second-container {
        position: relative;
        margin-left: -4%;
        margin-right: -4%;
        margin-bottom: 3%;
        padding: 10px;
        background-color: #cccccc;
        box-shadow: 0 2px 15px rgb(0 0 0 / 0.4)
    }
    #second-container img {
        width: 100%;
        height: auto;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
    
        margin-left: 0;
        margin-right: 0;
        margin-bottom: auto;
        margin-top: auto;
    }
    
    #main-second-container p, #main-second-container h1  {
        margin: 3%;
    }

    #main-second-container,#image-container, .second-container {
        margin-top: 60%;
    }

    #main-third-container {
        background-color: white;
        margin: 20%;
        padding: 10px;
        text-align: center;
        box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
    }
    
    #main-third-container p, #main-third-container h1  {
        margin: 3%;
    }

    #main-third-container{
        margin-top: 40%;
    }

    .summary {
        position: relative;
        top: 100px;
        border-radius: 2px;
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 20px;
    }
    .summary a{
        text-align: center;
        color: black;
        font-size: 12px;
        opacity: 70%;
    }.summary a:hover {
        opacity: 100%;
    }
    
    .summary th {
        text-align: center;
        font-weight: 400;
        font-size: 24px;
    
    }

}





