@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    font-family: 'Open Sans';
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
}

body {
  background: rgb(255,241,195);
  background: linear-gradient(360deg, rgba(255,241,195,1) 0%, rgba(247,228,163,1) 24%, rgba(255,74,121,1) 90%);
  background-attachment: fixed;
}

.homeback {
  position: fixed;
  width: 100%;
  height: auto;
  border-radius: 50px;
  margin: 1%;
}
.fa-home {
  font-size: 30px;
  color: #ff4a79;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  opacity: 95%;
}.fa-home:hover {
 opacity: 100%; 
}

.complete {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#survey-form {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  margin-top: 2%;
}

.headline {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  padding: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}.form-group input {
  width: 90%;
  padding: 10px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: rgb(236, 234, 234);  
}.form-group label,.form-group p {
  font-size: 15px;
  padding: 10px;
}

.form-group button,.submit-button {
  position: relative;
  align-items: center;
  text-align: center;
  width: 160%;
  height: 40%;
  margin-left: -40%;
  margin-top: 20%;
  padding: 15px;
  border-radius: 40px;
  border: none;
  color: white;
  background-color: black;
  font-weight: 600;
  cursor: pointer;
}

