@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background:url('43362.jpg');
    background-size:cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

body {
    
    background-color: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
}

header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10000;
    width: 100%;
    top: 0;
    left: 0;
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3.5em;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}header .logo:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    padding: 10px 20px;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
}

header ul li a:hover, header ul li a.active {
    background: #fff;
    color: #000;
}

img {
    border-radius: 20px;
}
    
.main { grid-area: 1 / 1 / 4 / 6; }
    
.phr {
        grid-area: 2 / 1 / 4 / 4;
        display: flex;
        border: 2px 2px red;
        width: 1000px;
        height: 200px;
        
    }h3{
      display: flex;
      position: absolute;
      top: 40%;
      left: 5%;
  
      font-size: 40px;
      background: linear-gradient(to right, #16b1b2,
                    #c753b0, #ffa446, #f32170);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
     
      -webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }.text {
        position: absolute;
        top: 50%;
        left: 5%;
        
        color: black;
        font-size: 18px;
        font-weight: 400;
    }
    
.lower {
        grid-area: 4 / 1 / 6 / 6;
        display: flex;
        top: 140%;
        position: absolute;
        left: 5%;
    }.lower h4 {
        font-size: 32px;
        text-align: center;
        background: linear-gradient(to right, #132d40,#7577f2);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
      
.projects {
  grid-area: 4 / 1 / 6 / 6;
  display: flex;
  position: absolute;
  justify-content: space-around;
  top: 150%;
  left: 5%;
}.projects img {
  width: 30%;
}

.register { 
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 95%;
}button {
  padding: 20px;
  border-radius: 40px;
  border: none;
  color: white;
  font-weight: 800;
  background: linear-gradient(to right, #e77bff, #c57bff, #b47bff, #8a7bff,#7577f2);
  transition: 0.1s; 
  }button:hover {
  padding: 21px;
}

references {
  width:100%;
  height: auto;
  position: absolute;
  margin-top: 101%;
  text-align: center;
}




/*     
    .support-p {
        display: flex;
        top: 200%;
        left: 75%;
        position: absolute;    
    }
    
    .support-img{
        position: absolute;
        top: 200%;
        left: 56%;
        width: 30%;
        border-radius: 80px;
        transition: width 0.2s;
    }.support-img:hover {
        width: 31%;
    } */


  










  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

  @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  