@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  font-family: "Open Sans";
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 241, 195);
  background: linear-gradient(
    360deg,
    rgba(255, 241, 195, 1) 0%,
    rgba(247, 228, 163, 1) 24%,
    rgba(255, 74, 121, 1) 90%
  );
  background-attachment: fixed;
}

#whole-box {
  margin-right: 10rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-container {
  width: 100;
  height: auto;
  padding: 2rem;
}
.side-container {
  position: relative;
  padding: 1rem;
  margin-top: -20%;
}
.side-container h1 {
  z-index: 995;
  font-weight: 600;
  text-align: center;
  color: white;
}
.menu-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 3rem;
  padding: 1rem;
}
.menu-section a {
  padding: 1rem;
  background-color: #ff4a79;
  color: white;
  transition: padding 0.2s, background-color 1s;
}
.menu-section a:hover {
  cursor: pointer;
  background-color: #b2334b;
}
img {
  align-items: center;
  width: 100%;
  box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
  height: auto;
}

@media screen and (max-width: 1350px) {
  #whole-box {
    margin-right: 5rem;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #main-container {
    width: 100;
    height: auto;
    padding: 2rem;
  }
  .side-container {
    position: relative;
    padding: 1rem;
    margin-top: -20%;
  }
  .side-container h1 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  .menu-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
  }
  .menu-section a {
    font-size: 1em;
    padding: 1rem;
    background-color: #ff4a79;
    color: white;
    transition: padding 0.2s, background-color 1s;
  }
  .menu-section a:hover {
    cursor: pointer;
    background-color: #b2334b;
  }
  img {
    align-items: center;
    width: 100%;
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
    height: auto;
  }
}

@media screen and (max-width: 950px) {
  #whole-box {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #main-container {
    width: 100;
    height: auto;
    padding: 2rem;
  }
  .side-container {
    position: relative;
    padding: 1rem;
    margin-top: -20%;
  }
  .side-container h1 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  .menu-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .menu-section a {
    font-size: 0.7em;
    padding: 1rem;
    background-color: #ff4a79;
    color: white;
    transition: padding 0.2s, background-color 1s;
  }
  .menu-section a:hover {
    cursor: pointer;
    background-color: #b2334b;
  }
  img {
    align-items: center;
    width: 100%;
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
    height: auto;
  }
}

@media screen and (max-width: 750px) {
  #whole-box {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #main-container {
    width: 100;
    height: auto;
    padding: 2rem;
  }
  .side-container {
    position: relative;
    padding: 1rem;
    margin-top: -30%;
  }
  .side-container h1 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  .menu-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .menu-section a {
    font-size: 0.5em;
    padding: 0.8rem;
    background-color: #ff4a79;
    color: white;
    transition: padding 0.2s, background-color 1s;
  }
  .menu-section a:hover {
    cursor: pointer;
    background-color: #b2334b;
  }
  img {
    align-items: center;
    width: 100%;
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  #whole-box {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #main-container {
    width: 100;
    height: auto;
    padding: 2rem;
  }
  .side-container {
    position: relative;
    padding: 1rem;
    margin-top: -40%;
  }
  .side-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  .menu-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }
  .menu-section a {
    font-size: 0.5rem;
    padding: 0.5rem;
    background-color: #ff4a79;
    color: white;
    transition: padding 0.2s, background-color 1s;
  }
  .menu-section a:hover {
    cursor: pointer;
    background-color: #b2334b;
  }
  img {
    align-items: center;
    width: 100%;
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.4);
    height: auto;
  }
}
