@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap');

* {
    font-family: 'Open Sans';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255,241,195);
    background: linear-gradient(360deg, rgba(255,241,195,1) 0%, rgba(247,228,163,1) 24%, rgba(255,74,121,1) 90%);
    background-attachment: fixed;
}

.homeback {
    position: fixed;
    width: 100%;
    height: auto;
    border-radius: 50px;
    margin: 1%;
    z-index: 999;
}
.fa-home {
    font-size: 25px;
    color: #ff4a79;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    opacity: 95%;
}.fa-home:hover {
    opacity: 100%; 
}