@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    font-family: 'Open Sans';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255,241,195);
    background: linear-gradient(360deg, rgba(255,241,195,1) 0%, rgba(247,228,163,1) 24%, rgba(255,74,121,1) 90%);
    background-attachment: fixed;
}

.shop {
    width: 100%;
    height: auto;
    border: 1px solid red;
    text-align: center;
}

h3 {
    font-size: 32px;
    margin-bottom: 5%;
}
a {
    font-size: 18px;
    opacity: 80%;
}a:hover {
    opacity: 100%;
}


#shop-category {
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 20%;
    height: auto;
    padding: 40px;
    border-radius: 40px;
    background-color: white;
}
#shop-category:nth-child(3) {
    position: absolute;
    margin-left: 30%;
    margin-top: -46%;
}

.shop-seating {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}
.shop-soft-furnishingncouches {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}
.shop-tables {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}
.shop-lighting {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}
.shop-accessories {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}
.shop-furnishingaccessories {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}
.shop-tableware {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px    
}
.shop-bymood {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}