@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap');

* {
    font-family: 'Open Sans';
    text-decoration: none;
    list-style: none;
    color: black;
    background-color: #fff8f3;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 139, 139);
}

#menu {
    border: 1px solid red;
    display: flex;
    position: absolute;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    left: 20px;
    top: 2%;
}

.menuList {
    border: 1px solid red;
    font-weight: 400;
    width: 110px;
    height: 25px;
}.menuList a:hover {
    background-color: rgb(255, 163, 163);
    padding: 10px;
    border-radius: 40px;
    font-weight: 600;
}

#register {
    font-weight: 400;
    border: 1px solid red;
    display: flex;
    position: absolute;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    left: 72%;
    top: 2%;
}

.menuRegister {
    border: 1px solid red;
    width: 110px;
    height: 25px;
}.menuRegister a:hover {
    background-color: rgb(255, 163, 163);
    padding: 10px;
    border-radius: 40px;
    font-weight: 600;
}
.main-search-icon {
    background-color: transparent;
    width: 13%;
    align-items: center;
}.main-icon:active {
    padding: 5px;
}.main-cart-icon {
    background-color: transparent;
    width: 14%;
    align-items: center;
}.main-icon:active {
    padding: 5px;
}

#opening {
    border: 1px solid red;
    display: flex;
    position: absolute;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    left: 20px;
    top: 20%;
}

.opening-title img{
    width: 40%;
}

.opening-title h1{
    font-weight: 200;
    width: 40%;
}

