@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap');

* {
    font-family: 'Open Sans';
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #FAD961;
    background-image: linear-gradient(90deg, #eeebe0 20%, #f6ded0 100%); */
    background-image: linear-gradient(90deg, #fffbec 20%, #ffb387 100%);
    background-attachment: fixed;
    background-attachment: fixed;
}


#logo {
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: start;
    width: 99%;
    height: auto;
    top: 1.3%;
    left: 1%;
    
}.mainLogo {
    font-size: 24px;
    font-weight: 600;
    width: 100px;
    height: 22px;
    text-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}


#menu {
    display: flex;
    position: absolute;
    flex-direction: row;
    text-align: center;
    justify-content: end;
    width: 100%;
    height: auto;
    top: 2.5%;
    right: 1%;
}.menu-list {
    font-weight: 400;
    width: 110px;
    height: 25px;
    border-radius: 40px;
}.menu-list a:hover {
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    font-weight: 600;
}

.home {
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    font-weight: 600;
}

.main-search-icon {
    background-color: transparent;
    width: 13%;
    align-items: center;
}.main-cart-icon {
    background-color: transparent;
    width: 14%;
    align-items: center;
}.main-register:active {
    padding: 5px;
}


#opening {
    display: flex;
    position: absolute;
    flex-direction: row;

    align-items: center;
    top: 20%;
    text-align: center;
    width: 90%;
    height: auto;
}
.opening-title {
    width: 100%;
    height: auto;
}.opening-title h1 {
    position: relative;
    font-weight: 200;
    width: 100%;
    
    text-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}.opening-img1 {
    display: block;
    position: relative;
    top: 100%;
    left: 5%;
    width: 720px;
    height: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}.opening-img2 {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    left: 20%;
    top: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.topnav {
    visibility: hidden;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1000px) {
#menu {
    display: flex;
    position: absolute;
    width: 80%;
}

.opening-img1 {
    width: 50%;
}

.opening-img2 {
    width: 50%;
}
}