@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap');

* {
    font-family: 'Open Sans';
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
}

body {
  background-color: #FAD961;
  background-image: linear-gradient(90deg, #fffbec 20%, #ffb387 100%);
  background-attachment: fixed;
}

.complete {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: auto;
}

#survey-form {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 40px;
  padding: 50px;
  margin-top: 2%;
}

.headline {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  padding: 20px;
}

.tipi {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  left: -10px;
  
  width: 100%;
  padding: 10px;
}

a {
  color: white;
  font-weight: 600;
  padding: 20px;
  background-color: black;
  border-radius: 40px;
}
